*.o
*.la
*.lo
*.so
*.a
.deps
.libs
config.h
config.log
config.status
libtool
objs
obj
libstlport.so.5.2
libstlport.so.5.2.1
STLport-5.2.1/build/Makefiles/gmake/config.mak
STLport-5.2.1/build/test/eh/Makefile
STLport-5.2.1/build/test/unit/Makefile
STLport-5.2.1
include
lib
